#fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(90deg, #FF7854, #FD267D);
  height: 60px;
  width: 60px;
  padding: 5px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 40px;
  }
}
