input {
	max-width: 600px;
}

input[type="text"],
input[type="password"] {
	border: none;
	background-color: none;
	font-size: 18px;
	border-bottom: 2px solid #FE3476;
	border-radius: 2px;
	box-shadow: 0px 1px 5px #AAA;
	padding: 10px;
}

input[type="submit"] {
	background-color: #FE3476;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 2px;
	padding: 10px;
	border: none;
}

.back-button {
	position: absolute;
	top: 10px;
	left: 20px;
}