.take-place {
  display: block;
  background: linear-gradient(14.21deg, #FE3177 0%, #FE665D 100%);
  border-radius: 10px;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
