.place-header-image {
  height: 300px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 100px;
}

ul.list-image {
  list-style: none;
  padding: 0;

  .place {
    position: relative;
    margin-bottom: 65px;
    .place-image {
      height: 300px;
      background-size: cover;
      background-position: center center;
      border-radius: 15px;
    }
    .place-name {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 0;
      transform: translate3d(0, 50%, 0);
      padding: 8px 12px;
      background-color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
      border-radius: 15px;
      p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: #A3A3A3;
      }
      h2 {
        font-size: 16px;
        font-weight: 600;
        color: black;
        margin: 0;
      }
    }
  }
}

@media all and (max-width: 1023px) {
  .place-header-image {
    height: 235px;
    margin-bottom: -100px;
  }

  ul.list-image .place .place-image {
    height: 170px;
  }
}
