<div *ngIf="place | async as p">

  <a [routerLink]="'/'" class="back-button">
    <svg style="width:35px;height:35px" viewBox="0 0 24 24">
        <path fill="#FFF" d="M21,11H6.83L10.41,7.41L9,6L3,12L9,18L10.41,16.58L6.83,13H21V11Z" />
    </svg>
  </a>

  <div class="place-header-image" [ngStyle]="{'background-image': 'url('+p.image+')'}"></div>
  <div id="fab">
    <a [routerLink]="'/places/' + p.uuid + '/events/new'">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" version="1.1">
        <g id="surface1">
          <path style="" fill="#ffffff" d="M 23 9 L 23 23 L 9 23 L 9 27 L 23 27 L 23 41 L 27 41 L 27 27 L 41 27 L 41 23 L 27 23 L 27 9 Z "></path>
        </g>
      </svg>
    </a>
  </div>
  <main>
    <div class="content">
      <h1>{{p.name}}</h1>
      <p>{{p.address}}</p>
      <h1>Événements</h1>
      <ul class="list-image">
        <li class="place" *ngFor="let event of p.events">
          <a [routerLink]="'/places/' + p.uuid + '/events/' + event.uuid">
            <div class="place-image" [ngStyle]="{'background-image': 'url('+p.image+')'}">
            </div>
            <div class="place-name">
              <h2>{{ event.name }}</h2>
            </div>
          </a>
        </li>
      </ul>
      <p *ngIf="p.events.length == 0">Aucun événement de disponible</p>
    </div>
  </main>
</div>
