<div *ngIf="place | async as p">

  <a [routerLink]="'/'" class="back-button">
    <svg style="width:35px;height:35px" viewBox="0 0 24 24">
      <path fill="#FFF" d="M21,11H6.83L10.41,7.41L9,6L3,12L9,18L10.41,16.58L6.83,13H21V11Z" />
    </svg>
  </a>

  <div class="place-header-image" [ngStyle]="{'background-image': 'url('+p.image+')'}"></div>
<main>
  <div class="content">
    <h1>Création d'un événement</h1>
    <form action="#" (ngSubmit)="onSubmit()">
      <input type="text" name="name" placeholder="Nom" [(ngModel)]="event.name">
      <input type="datetime-local" name="date" placeholder="Date" [(ngModel)]="event.event_date">
      <textarea name="description" id="description" cols="30" rows="10" placeholder="Description" [(ngModel)]="event.description"></textarea>
      <input type="submit" value="Sauvegarder">
    </form>
  </div>
</main>
</div>
