body {
	margin: 0;
	background-color: #F3F3F3;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 30px;
  max-width: 1200px;

  .content {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px;

    p.sub {
      font-size: 16px;
      font-weight: 600;
      color: #A3A3A3;

      span.red {
        color: #E94E5E;
      }
    }

    h1 {
      position: relative;
      font-size: 21px;
      font-weight: bold;
      margin: 0 0 25px;

      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
        background-color: #E7E7E7;
      }
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
      margin: 30px 0 15px;
    }
  }
}

@media all and (max-width: 1023px) {
  main {
    margin: 0 15px 50px;
    .content {
      padding: 15px;
    }
  }
}
