header {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
	background: linear-gradient(90deg, #FF7854, #FD267D);
	padding: 15px;
	margin-bottom: 100px;
}

header img {
	width: 200px;
	height: auto;
}

@media all and (max-width: 1023px) {
  header {
    height: 235px;
    margin-bottom: -100px;
  }
}
