header {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
	background: linear-gradient(90deg, #FF7854, #FD267D);
	padding: 15px;
	margin-bottom: 100px;

  > a {
    margin: 0 auto;
  }
}

header img {
	width: 200px;
	height: auto;
	justify-content: center;
	align-self: center;
	margin-bottom: 20px;
}

@media all and (max-width: 1023px) {
  header {
    height: 235px;
		margin-top: -30px;
		margin-bottom: 0;
  }
}

.user-icon {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 30px;
	top: 30px;
}
